/* ==========================================================================
   Hide parts of the site we don't want to show
   ========================================================================== */
@media (max-width: 1022px) {
  body .menu-toggle,
  body .nav-primary,
  body .site-header,
  body .preheader {
    display: none; } }

@media (min-width: 1023px) {
  body .mobile-after-header-widget-area,
  body .mobile-header-wrapper {
    display: none; } }

/* ==========================================================================
   Widget area spacing
   ========================================================================== */
/*
   Header wrapper
   ========================================================================== */
body .menu-wrapper {
  background-color: #f7f7f7;
  min-height: 120vh;
  overflow-y: auto; }
  @media (min-width: 1023px) {
    body .menu-wrapper {
      min-height: 100vh; } }

.mobile-header-wrapper {
  background-color: #333;
  z-index: 100;
  height: 42px;
  position: fixed;
  width: 100%; }
  .mobile-header-wrapper a.open-left,
  .mobile-header-wrapper a.open-right {
    color: white; }
    .mobile-header-wrapper a.open-left:focus,
    .mobile-header-wrapper a.open-right:focus {
      outline: none; }
  .mobile-header-wrapper a.open-left {
    float: left; }
  .mobile-header-wrapper a.open-right {
    float: right; }

@media (max-width: 600px) {
  .admin-bar .mobile-header-wrapper {
    position: relative; } }

/*
   Header widget area
   ========================================================================== */
.mobile-header-widget-area {
  color: white;
  padding: 0 0 0 10px;
  line-height: 42px;
  float: left;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px; }
  .mobile-header-widget-area .logo {
    height: 42px;
    width: 280px;
    background-position: left center;
    background-repeat: no-repeat;
    display: block; }
  .mobile-header-widget-area .widget {
    margin: 0; }
  .mobile-header-widget-area p {
    margin: 0 !important;
    max-height: 42px; }
  .mobile-header-widget-area img {
    max-height: 32px;
    margin-top: 5px; }

/*
   After header widget area
   ========================================================================== */
.mobile-after-header-widget-area {
  padding: 10px;
  background-color: #222;
  font-size: 15px;
  line-height: 1.2em;
  color: white; }
  .mobile-after-header-widget-area .widget {
    margin: 0;
    line-height: 1.2em; }
    .mobile-after-header-widget-area .widget p {
      margin-bottom: 5px; }
      .mobile-after-header-widget-area .widget p:last-child {
        margin-bottom: 0; }
  .mobile-after-header-widget-area .widgettitle {
    margin-bottom: 5px; }

/* ==========================================================================
   Open icons
   ========================================================================== */
.open-menu {
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 0 15px;
  width: 22px;
  max-width: 10%;
  display: block;
  height: 30px;
  margin: 11px 10px 0 10px;
  box-sizing: border-box; }
  .open-menu.open-left {
    margin-right: 0px; }
  .open-menu.open-right {
    margin-left: 0px; }

.open-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 0;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out; }

.open-menu span:nth-child(1) {
  top: 0;
  transform-origin: left center; }

.open-menu span:nth-child(2) {
  top: 8px;
  transform-origin: left center; }

.open-menu span:nth-child(3) {
  top: 16px;
  transform-origin: left center; }

.open-menu.closed span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 4px; }

.open-menu.closed span:nth-child(2) {
  width: 0;
  opacity: 0; }

.open-menu.closed span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 4px; }

/* ==========================================================================
   Mobile nav area
   ========================================================================== */
.mobile-nav-area {
  font-size: 15px;
  line-height: 1.2em; }
  .mobile-nav-area .widgettitle {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    line-height: 1em; }
  .mobile-nav-area .widget {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;
    margin: 0; }
    .mobile-nav-area .widget:last-child {
      border: none; }
  .mobile-nav-area p {
    margin-bottom: 10px; }

/* ==========================================================================
   Control opening and closing
   ========================================================================== */
.mobile-nav-area ul li {
  list-style: none; }

.mobile-nav-area a {
  text-decoration: none; }
  .mobile-nav-area a:hover, .mobile-nav-area a:focus, .mobile-nav-area a:active {
    text-decoration: none; }

.mobile-nav-area .widget {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.05); }
  .mobile-nav-area .widget .widgettitle {
    padding: 10px;
    margin: 0; }

.mobile-nav-area ul.menu > li {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.mobile-nav-area ul.menu > li > a {
  padding: 10px 15px;
  display: block;
  color: #333; }

.mobile-nav-area li.parent {
  transition: .3s all ease;
  display: flex;
  flex-flow: column; }
  .mobile-nav-area li.parent > a:after {
    font-family: 'Dashicons';
    content: "\f347";
    float: right;
    opacity: 0.3;
    transition: 0.3s all ease;
    z-index: 10; }
  .mobile-nav-area li.parent > a {
    z-index: 10;
    position: relative; }
  .mobile-nav-area li.parent > .sub-menu {
    transition: .3s all ease;
    z-index: 5;
    position: relative; }
  .mobile-nav-area li.parent.inactive > .sub-menu {
    max-height: 0;
    opacity: 0;
    pointer-events: none; }
  .mobile-nav-area li.parent.active > .sub-menu {
    opacity: 1;
    max-height: 1000px; }
  .mobile-nav-area li.parent.active > a:after {
    transform: rotate(180deg);
    opacity: 1;
    pointer-events: none; }

.mobile-nav-area ul.menu .sub-menu > li {
  margin: 0;
  padding: 0; }
  .mobile-nav-area ul.menu .sub-menu > li a {
    display: block; }

.mobile-nav-area ul.menu > li > .sub-menu > li:last-child > a {
  padding-bottom: 10px; }

.mobile-nav-area ul.menu .sub-menu > li > a {
  padding: 3px 15px;
  color: rgba(51, 51, 51, 0.7); }

/* ==========================================================================
   Body effects
   ========================================================================== */
@media (max-width: 1022px) {
  .body-wrapper {
    transition: transform 0.5s ease;
    transform: translateZ(0px);
    padding-top: 42px; } }

@media (max-width: 1022px) {
  body.admin-bar .body-wrapper {
    padding-top: 0; } }

.mobile-header-wrapper {
  transition: transform 0.5s ease; }

body.menu-is-active .body-wrapper {
  position: relative;
  height: 100vh;
  overflow-y: hidden; }

body.menu-is-active.push-left .body-wrapper {
  transform: translateX(300px) translateZ(0); }

body.menu-is-active.push-right .body-wrapper {
  transform: translateX(-300px) translateZ(0); }

body.menu-is-active.push-left .mobile-header-wrapper {
  transform: translateX(300px) translateZ(0); }

body.menu-is-active.push-right .mobile-header-wrapper {
  transform: translateX(-300px) translateZ(0); }

body.menu-is-active .slide-overlay {
  right: 0;
  opacity: 1; }

/* ==========================================================================
   Overlay effects
   ========================================================================== */
.slide-overlay {
  position: fixed;
  left: 0;
  right: 100%;
  top: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s opacity ease; }

/* ==========================================================================
   Sliding effects
   ========================================================================== */
.slide-menu {
  position: fixed;
  height: 100%;
  min-height: 100vh;
  width: 300px;
  transition: 0.5s all ease;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }
  .slide-menu::-webkit-scrollbar {
    display: none; }

.slide-left {
  transform: translateX(-300px) translateZ(0);
  box-shadow: inset -10px 0 20px -10px rgba(0, 0, 0, 0.15); }
  .slide-left.show {
    transform: translateX(0px) translateZ(0);
    opacity: 1; }

.slide-right {
  transform: translateX(300px) translateZ(0);
  right: 0; }
  .slide-right.show {
    transform: translateX(0px) translateZ(0);
    opacity: 1; }

div.clear {
  clear: both;
  width: 100%;
  float: none; }
